NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000/api
MONGODB_URI=mongodb+srv://tagsmain:ILARR4tY9WVkgvGl@main.gn7qlry.mongodb.net/TAGSitems?retryWrites=true&w=majority&appName=main

#JSEARCH_API_KEY=9205bed3dbmsh7d491032c7aff10p1a57d2jsn246ee85e43ae
#JSEARCH_API_KEY=c9b98e0e8cmshe1587f780f887c6p196c64jsnba0e63da3bd4
#JSEARCH_API_KEY=2544996659msh2994177156079a3p1aa029jsn1ae35623d096
JSEARCH_API_KEY=8fa3402c2amsh40ccb5bca8975c9p10d4bajsn756453407422


# Cryptographic signing key for JWT tokens
JWT_SECRET=GoDawgsSecretKey2025!